 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      background: #0b0f1a;
      color: white;
      overflow-x: hidden;
    }

    #bgCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

    /* ===== ANIMATIONS ===== */
    @keyframes float {
      0%, 100% { transform: translateY(0); }
      50% { transform: translateY(-20px); }
    }

    /* ===== NAV ===== */
    header {
      padding: 15px 30px;
      background: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      font-size: 28px;
      font-weight: bold;
      color: #e6fa0a;
      text-shadow: 0px 2px 10px white;
    }

    nav a {
      margin-left: 20px;
      color: #ccc;
      text-decoration: none;
    }

    nav a:hover {
      color: #e6fa0a;
    }

    /* ===== HERO ===== */
    .hero {
      text-align: center;
      padding: 80px 20px;
    }

    .hero h1 {
      font-size: 42px;
      color: #e6fa0a;
      text-shadow: 0 2px 10px blueviolet;
    }

    .hero p {
      margin-top: 15px;
      color: #bbb;
    }

    /* ===== GAMES ===== */
    .box {
      padding: 60px 30px;
    }

    .box h2 {
      font-size: 30px;
      text-align: center;
      margin-bottom: 60px;
      color: #e6fa0a;
      text-shadow: 0 4px 10px blueviolet;
    }

    .box-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 25px;
    }

    .box-card {
      background: #11152a;
      border-radius: 15px;
      overflow: hidden;
      text-align: center;
      opacity: 0;
      transform: translateY(50px);
      transition: 0.4s;
      animation: float 4s ease-in-out infinite;
    }

    .box-card:hover {
      transform: scale(1.05);
      box-shadow: 2px 8px 15px #e6fa0a;
    }

    .box-card img {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }

    .box-card h3 {
      margin: 15px ;
    }

    /* ===== FOOTER ===== */
    footer {
      font-size: 20px;
      text-align: center;
      padding: 20px;
      background: transparent;
      box-shadow: 0 2px 10px #fff;
      color: #777;
    }

    /* ===== RESPONSIVE ===== */
    @media (max-width: 768px) {
      nav {
        display: none;
      }
    }
 